html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background: url("//Assets/Images/stripes-light.png");
    background-repeat: repeat;
}

img {
    width: 200px;
    height: auto;
}

form{
    margin: 40px;
}

button {
    margin: 10px 40px;
}

#page-content {
  flex: 1 0 auto;
}


.title {
    font-size: 18px;
    margin-bottom: 5px;
}


#sticky-footer {
    margin-top: 100vh;
}
