img {
    width: 200px;
    height: auto;
}

form{
    margin: 40px;
}

button {
    margin: 10px 40px;
}

html,
body {
  min-height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;

}

body {
  background-image: url(../Images/stripes-light.png);

}

.box {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
}